
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(124, 25, 22);

}
.logo{
    width: 150px;
}

.nav-items{
    padding: 0px 25px;
}
.nav-items >ul{
    font-size: 18px;
 display: flex;
 list-style-type: none;
}
.nav-items >ul >li{
    padding: 25px;
    margin: 10px;
   }
